# General
.DS_Store
.idea
*.cbp
*.pid
*.out
*.log
Testing

# CMake
cmake-build-debug/
cmake-build-debug-coverage/
cmake-build-debug-h9/
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
.cmake/

# Prerequisites
*.d

# Object files
*.o

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.so
*.so.*

# Python
__pycache__/

# Project
config_gen.h
git_version.h
git_version.h~
src/h9d
src/h9sniffer
src/h9send
src/h9stats
src/h9fwupload
h9cli/h9cli
h9cli/lexer.cc
h9cli/parser.cc
h9cli/parser.hh
