# General
.DS_Store
.idea
*.cbp
*.pid
*.out
*.log
Testing

# CMake
cmake-build-debug/
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
.cmake/

# Prerequisites
*.d

# Object files
*.o

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.so
*.so.*

# Project
config.h
git_version.h
src/h9d
src/h9sniffer
src/h9send
src/h9stats
h9msg.xsd.h
h9bus/h9bus
h9cli/h9cli
h9cli/lexer.cc
h9cli/parser.cc
h9cli/parser.hh
h9d/h9d
h9fwu/h9fwu
h9send/h9send
h9sniffer/h9sniffer
h9stat/h9stat
