# General
.DS_Store
.idea
*.cbp
*.pid
*.out

# CMake
cmake-build-debug/
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile

# Prerequisites
*.d

# Object files
*.o

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.so
*.so.*

# Project
config.h
h9msg.xsd.h
h9bus/h9bus
h9cli/h9cli
h9cli/lexer.cc
h9cli/parser.cc
h9cli/parser.hh
h9d/h9d
h9fwu/h9fwu
h9send/h9send
h9spy/h9spy
h9stat/h9stat
